<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1366, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API v1</title>
</head>
<body>
    <h2>API v1</h2>
    <a href="/api/v1/companies">GET /api/v1/companies</a><br />
    <a href="/api/v1/companies/1">GET /api/v1/companies/:id</a><br />
    <a href="#">POST /api/v1/companies</a> <br />
    <a href="#">PUT /api/v1/companies/:id</a><br />
    <a href="#">DELETE /api/v1/companies/:id</a><br />
    <br />
    <a href="#">POST /api/v1/companies/upload</a><br />
    <br />

    <h2>Exemples</h2>
    <a href="/testUpload.html">form for upload file CSV with companies</a><br />
    <a href="/api/v1/companies?name=T&zipcode=32780">api query to find company with <strong>name</strong> and <strong>zip</strong> </a><br />

</body>
</html>